extends ../layouts/default
block content
  body
    nav.navbar.navbar-default.navbar-static-top
     .table-responsive
       table.table
         tr
           td 
            h2 Node.js Equity Crowdfunding platform on the blockchain
            p My Companies Page 
           td
            .container-fluid(style='padding-top:2%;font-size:1.4em;')
             a(href='/') Go back
             &nbsp&nbsp
             a(href='mywallet') My Wallet 
            .container-fluid
             if username
              b Username: #{username}
             br
             if server_name
              i Server: #{server_name}
             br
             if private_seed
              i Current server private seed: #{private_seed}
    .container(style='font-size:1.5em;margin-left:15%;margin-right:15%;')     
     button.btn.btn-primary(type="button", onclick="window.location='/newcompany'") Create a new Company  
     br
     .panel.panel-default(style='margin-top:2%;')
      .panel-heading 
        b My Companies:
      .panel-body
        ul
          for link in projectlinks
            li
             #{link}
          else
            li No Companies on Existenz yet

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
    script(src='/js/utils.js')