extends ../layouts/default
block content
  body
    nav.navbar.navbar-default.navbar-static-top
     .table-responsive
       table.table
         tr
           td 
            h2 Node.js Equity Crowdfunding platform on the blockchain
            p My Wallet Page 
           td
            .container-fluid(style='padding-top:2%;font-size:1.4em;')
             a(href='/') Go back
             &nbsp&nbsp
             a(href='mycompanies') My Companies
            .container-fluid
             if username
              b Username: #{username}
             br
             if server_name
              i Server: #{server_name}
             br
             if private_seed
              i Current server private seed: #{private_seed}
              
    .container(style='font-size:1.5em;margin-left:15%;margin-right:15%;')     
     .panel.panel-default
      .panel-heading 
        h3 My Existenz Adress:
      .panel-body 
        if hdwallet
         i= hdwallet
     .panel.panel-default
      .panel-heading 
        h3 My assets:
      .panel-body
        b Asset name:
        hr
        b My total net worth on Existenz:
        hr
        b My transactions historics:

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
