extends ../layouts/default
block content
  body
    .container
      h2 Step 2 : Create your asset :
      hr
      form#createasset(role='form', action="/issueAsset",method="post", style='max-width: 400px;')
          h3 Create a new Company
          .form-group
            label(for='assetname') Asset name
            input#assetname.form-control(type='text', name="assetname", placeholder='Asset name')
          .form-group
            label(for='divisibility') Asset divisibility
            input#lastname.form-control(type='text', name="divisibility", placeholder='enter numer')
          .form-group
            label(for='email')
              | Contact Email
              span(style='color:red;') *
            input#contactemail.form-control(type='email', name="contactemail", placeholder='Enter email')
          .form-group
           label(for='divisibility') Divisibility
           select#divisibility.form-control(name='divisibility')
             option 0
             option 1
             option 2
             option 3
             option 4
             option 5
             option 6
             option 7
          .form-group
           label(for='reissueable') Reissueable
           select#reissueable.form-control(name='reissueable')
             option true
             option false
          .form-group
            label(for='Amount')
              | Amount of total shares
              span(style='color:red;') *
            textarea#description.form-control(row=5, name="amount", placeholder='Enter the Amount Here')
          .form-group
            label(for='description') Description
            textarea#lastname.form-control(row=5, name="description", placeholder='Enter Description Here')
          .form-group
            label(for='website') Icon
            input#lastname.form-control(type='url', name="icon", placeholder='Enter Icon url Here')
          .form-group
            span.text-muted
              em
                span(style='color:red;') *
                |  Indicates required field
          button.btn.btn-default(type='submit') Issue Asset
          &nbsp;
          a(href='/mycompanies')
            button.btn.btn-primary(type="button") Cancel


 
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==', crossorigin='anonymous')
