extends ../layouts/default
block content
  body
    .container
      h2 Step 1 : Tell us about yourself
      hr
      form#createproject(role='form', action="/createCompany",method="post", style='max-width: 400px;')
          h3 Create a new Company
          .form-group
            label(for='firstname') First name
            input#firstname.form-control(type='text', name="firstname", placeholder='First name')
          .form-group
            label(for='lastname') Last name
            input#lastname.form-control(type='text', name="lasttname", placeholder='Last name')
          .form-group
            label(for='email')
              | Email address 
              span(style='color:red;') *
            input#email.form-control(type='email', name="email", placeholder='Enter email')
          .form-group
            label(for='companyname')
              | Company Name 
              span(style='color:red;') *
            input#companyname.form-control(type='text', name="companyname", placeholder='Company Name')
          .form-group
            label(for='description')
              | Short Description 
              span(style='color:red;') *
            textarea#description.form-control(row=5, name="description", placeholder='Enter Description here')
          .form-group
            label(for='website') Website or Landing Page
            input#lastname.form-control(type='text', name="website", placeholder='Website')
          .form-group
            span.text-muted
              em
                span(style='color:red;') *
                |  Indicates required field
          button.btn.btn-default(type='submit') Create Project
          &nbsp;
          a(href='/mycompanies')
            button.btn.btn-primary(type="button") Cancel


 
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==', crossorigin='anonymous')
